﻿@{
    ViewBag.Title = "Advisor Search";
}

<style type="text/css">

    #map_canvas { width: 100%; height:450px; }

    @@media screen and (max-width: 320px){
        #map_canvas {height: 100px !important;}
        body {background: grey;}
    }

</style>

<div class="map-content">
    <div class="searchbar">
        <input id="address" type="text" value="EH3 9PD" placeholder="Enter your address...">
        <select id="radius">
            <option value="5">5 miles</option>
            <option value="10">10 miles</option>
            <option value="15">15 miles</option>
            <option value="20">20 miles</option>
            <option value="100">100 miles</option>
        </select>
        <input id="search-btn" type="button" value="Search" onclick="codeAddress()"><br>
    </div>
    
    <div id="map_canvas" style="width: 100%; height: 450px"></div> 
</div>
<hr />
<div class="searchResults">
    <h3>Results</h3>
    <div id="side_bar" style="overflow:auto;"></div>
</div>

<script>
    $('#search-btn').click(function (e) {
        e.preventDefault();
        $('.searchResults, #map_canvas').css('display', 'block');
    });
</script>