﻿body { max-width: 969px; margin: 0 auto; }
.searchbar { border: 1px solid #efefef; background: #efefef; margin: 1em 0; padding: 0.5em; border-radius: 3px; }
.searchResults { display: none; margin-bottom: 2em; }
#map_canvas {display: none; }
.result { border: 1px solid #efefef; background: #efefef; padding: 1em; margin-bottom: 0.5em; }
.leftSection, .rightSection { display: inline-block; width: 48%; }
.rightSection { vertical-align: top; margin-top: 1.5em; }
.label { color: #666; font-size: 100%; width: 6em; display: inline-block; text-align: left; }
